// Responsive
$phones: 320px;
$phonem: 375px;
$phonel: 425px;
$tablet: 768px;
$laptop: 1024px;

// Color
$color_green: rgba(11, 207, 99, 1);
$color_darkgreen: rgba(8, 163, 77, 1);
$color_lightgreen: rgba(17, 239, 117, 1);
